<!doctype html>
<html>
<body>
  <form action="/fetch_form" method="post">
      <h1>Index</h1>
      <input type="text" placeholder="Angle start" name="angle_min"></input>
      <input type="text" placeholder="Angle stop" name="angle_max"></input>
      <input type="text" placeholder="N Angles" name="num_angles"></input>
      <input type="text" placeholder="N Nodex" name="nodes"></input>
      <input type="text" placeholder="N Levels" name="refinement"></input>
      <h1>Airform</h1>
      <input type="text" placeholder="Number of samples" name="samples"></input>
      <input type="text" placeholder="Viscosity" name="viscosity"></input>
      <input type="text" placeholder="Speed" name="speed"></input>
      <input type="text" placeholder="Time" name="time"></input>
      <input type="submit" value="Submit"></input>
  </form>
</body>
</html>
